@import url("../css/global.css");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


.layout {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.photo {
    width: 40%;
}

.info {
    width: 60%;
}

.img_product {
    width: 100%;
    border-radius: 5px;
}

.title {
    padding-top: 15px;
    width: 90%;
    margin: auto;
    border-bottom: solid 1px var(--text-muted);
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 23px;
}

.marca {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 5px;
}

.stats {
    width: 90%;
    margin: auto;
    color: var(--primary-light);
    padding-bottom: 15px;
}

.p1 {
    font-weight: bold;
}

.option_payment {
    padding-top: 53px;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.money {
    display: flex;
    color: green;
    gap: 5px;
    font-size: 30px;
    padding-left: 30px;
}

.text_small {
    font-size: 12px;
}

.price {
    font-size: 30px;
    font-weight: bold;
}

.card {
    display: flex;
    color: var(--primary-light);
    gap: 5px;
    padding-left: 44px;
}

.kart {
    margin: auto;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 53px;
    border-bottom: solid 1px var(--text-muted);

}

.add_Kart {
    width: 300px;
    padding: 13px;
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #202020;
    cursor: pointer;
}

.stars {
    padding-top: 15px;
    margin: auto;
    width: 90%;
    display: flex;
    font-size: 15px;
    gap: 7px;
    align-items: center;
}

.avalition,
.amount {
    color: #808080;
    font-size: 12px;
}

.info_2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-bottom: solid 1px var(--text-muted);
}

.camp1 {
    width: 50%;
}

.camp2 {
    padding-right: 10px;
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

.camp2 button {
    padding: 10px 12px;
    border-radius: 100%;
    border: #202020 1px;
}

.share {
    background-color: var(--bg-light);
    color: #94A3B8;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.share:hover {
    background-color: var(--primary-light);
    color: white;
    transition: 0.5s;
}

.plus_title {
    padding-top: 40px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.infus {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px var(--text-muted);
}

.infus_title {
    font-weight: bold;
}

.plus_info {
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
        width: 95%;
    }
    .photo,

    
    .info {
        width: 100%;

    }

    .infus {
        flex-direction: column;
        gap: 5px;
    }
}