@import url("../css/global.css");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

.foto_perfil {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main_box_2 {
  width: 80%;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  gap: 5px;
  transition: all 0.5s ease;
  background-color: var(--card-hover);
}

.boxs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.5s ease;
  background-color: var(--card-bg);
}

.main_box {
  margin-bottom: 100px;
  margin-top: 80px;
}

.edit {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.profile_photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.edit:hover .overlay {
  opacity: 1;
}