<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="../../css/menu-sidebar.css" />
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<nav id="sidebar">
    <ul>
        <li>
            <span class="logo">MarketPlus</span>
            <button onclick="toggleSidebar()" id="toggle-btn">
                <i class="fa-solid fa-angles-left"></i>
            </button>
        </li>
        <li class="active">
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </li>
        <li></li>
        <li>
            <button onclick="toggleSubMenu(this)" class="dropdown-btn">
                <i class="fa-solid fa-gears"></i>
                <span>Gerenciar</span>
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a href="#"><i class="fa-solid fa-list"></i>Categoria</a></li>
                    <li><a href="#"><i class="fa-solid fa-box"></i>Produto</a></li>
                    <li><a href="#"><i class="fa-solid fa-image"></i>Banner</a></li>
                    <li><a href="#"><i class="fa-solid fa-bars"></i>Barra de Navegação</a></li>
                </div>
            </ul>
        </li>
        <li>
            <button onclick="toggleSubMenu(this)" class="dropdown-btn">
                <i class="fa-solid fa-truck"></i>
                <span>Pedidos</span>
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a href="#"><i class="fa-solid fa-clock"></i>Solicitados</a></li>
                    <li><a href="#"><i class="fa-solid fa-route"></i>Em Rota</a></li>
                    <li><a href="#"><i class="fa-solid fa-check"></i>Finalizados</a></li>
                </div>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-headset"></i>
                <span>Suporte</span>
            </a>
        </li>
        <li>
            <a href="profile.html">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>
    <script type="text/javascript" src="../../js/menu-sidebar.js" defer></script>
</body>

</html>