<head>
    <link rel="stylesheet" href="../css/components.css">
</head>
<header>
    <div class="container">
      <div class="navbar">
        <a href="#" class="logo">Lojinha</a>

        <div class="search-bar">
          <input type="text" placeholder="pesquisa">
          <button><i class="fas fa-search"></i></button>
        </div>

        <div class="nav-icons">
          <a href="#" class="nav-icon">
            <span>Entrar</span>
          </a>
          <a href="#" class="nav-icon">
            <span>Carrinho</span>
          </a>
        </div>
      </div>
    </div>

    <div class="categories-menu">
      <div class="container">
        <ul class="categories-list">
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
          <li><a href="#">nome</a></li>
        </ul>
      </div>
    </div>
  </header>