<head>
    <link rel="stylesheet" href="../../../css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <div class="footer-column-title">
                    <h3>Minha Conta</h3>
                </div>
                <ul>
                    <li><a href="#">Entrar</a></li>
                    <li><a href="#">Cadastrar</a></li>
                    <li><a href="#">Meu Perfil</a></li>
                    <li><a href="#">Meu Carrinho</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <div class="footer-column-title">
                    <h3>Ajuda</h3>
                </div>
                
                <ul>
                    <li><a href="/store/page/suport/suport.html">Suporte</a></li>
                    <li><a href="/store/page/suport/questions.html">Perguntas Frequentes</a></li>
                    <li><a href="/store/page/suport/howToBuy.html">Como Comprar</a></li>
                    <li><a href="/store/page/suport/paymentMethods.html">Formas de Pagamento</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <div class="footer-column-title">
                    <h3>Atendimento</h3>
                </div>
                <ul>
                    <li><a href="https://wa.me/5541997489580" target="_blank"><i class="bi bi-whatsapp"></i> (41) 99748-9580</a></li>
                    <li><a href="#">Sobre a MarketPlus</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                </ul>
                <div class="social-links">
                <ul>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </ul>
            </div>
            </div>
             
        </div>
    </div>