<head>
    <link rel="stylesheet" href="../../../css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<header>
  <div class="container">
    <div class="navbar">
      <div id="logo-component"></div>
      <div class="search-bar">
        <input type="text" placeholder="pesquisa">
        <button><i class="fas fa-search"></i></button>
      </div>

      <div class="nav-icons">
        <a href="/store/page/profile/my_profile.html" class="nav-icon">
          <div id="NomeUser"></div>
        </a>
        <a href="../../../page/profile/my_purchases.html" class="nav-icon">
          <span><i class="fa-solid fa-cart-shopping"></i>Carrinho</span>
        </a>
      </div>
    </div>
  </div>

  <div class="categories-menu">
    <div class="container">
      <ul class="categories-list">
        <li><a href="/index.html">Início</a></li>
        <li><a href="/store/page/product/offers.html">Ofertas</a></li>
        <li><a href="#">nome3</a></li>
        <li><a href="#">nome4</a></li>
        <li><a href="#">nome5</a></li>
        <li><a href="#">nome6</a></li>
        <li><a href="#">nome7</a></li>
        <li><a href="/store/page/suport/suport.html">Suporte</a></li>
      </ul>
    </div>
  </div>
</header>